<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akanbi.hilt" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".presentation.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Jetpacksample.NoActionBar" />
    </application>

</manifest>